<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assistant OpenCRVS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="main-container">
        <!-- Colonne gauche : Logo + description -->
        <div class="left-panel">
            <div class="logo2-container">
                <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="OpenCRVS Logo" class="logo2">
            </div>
            <h1 class="left-title">The gold standard for digital civil registration</h1>
            <div class="description">
                <p>
                    An open-source, digital civil registration system designed to positively transform civil registration services in low-resource settings.
                </p>
            </div>
            <div class="button-group">
                <button class="btn-demo" onclick="window.location.href='https://www.opencrvs.org/book-a-demo'">Book a demo</button>
             <button class="btn-learn" onclick="window.location.href='https://www.opencrvs.org/product'">Learn more </button>
            </div>
        </div>

        <!-- Colonne droite : Chatbot -->
        <div class="right-panel">
            <div class="chat-container">
                <div class="chat-header">
                    <h3>💡 OpenCRVS Assistant</h3>
                    <p>Ask me about deploying OpenCRVS locally !</p>
                </div>
                <div class="chat-box" id="chatbox">
                    <div class="messages" id="chat-messages"></div>
                    <div class="input-area">
                        <input type="text" id="user-input" placeholder="Écrivez votre message ici...">
                        <button id="send-btn">
                            <img src="{{ url_for('static', filename='images/send-icon2.png') }}" alt="Envoyer" class="send-icon">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
